<!DOCTYPE html>
<html>
	<head>
		<link href="{{url "/extensions/app/social-reviews/themes/store/css/reset.css"}}" type="text/css" rel="stylesheet"/>
		<link href="{{url "/extensions/app/social-reviews/themes/store/css/jquery.rating.css"}}" type="text/css" rel="stylesheet"/>
		<link href="{{url "/extensions/app/social-reviews/themes/store/css/styles.css"}}" type="text/css" rel="stylesheet"/>
		<link href="{{url "/extensions/app/social-reviews/themes/store/css/font-wso2.min.css"}}" type="text/css" rel="stylesheet"/>
		<link href="{{url "/extensions/app/social-reviews/themes/store/css/theme-wso2.css"}}" type="text/css" rel="stylesheet"/>
        <link href="{{url "/extensions/app/social-reviews/themes/store/css/bootstrap.css"}}" type="text/css" rel="stylesheet"/>
        {{css .}}
	</head>
	<body class="review-body">
		<div class="com-container">
			{{include body}}
			{{include stream}}
		</div>
				<!--  CSRF Protection -->
				<script src='{{url ""}}/csrf.js' type="text/javascript"></script>
        {{js .}}
	</body>
</html>
