<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{> title}}

    <link rel="icon" href="{{url "/themes/default/img/favicon.png"}}" type="image/x-icon" />

    <!-- Bootstrap -->
    <link href="{{url "/themes/default/css/bootstrap.min.css"}}" rel="stylesheet" media="screen">

    <!-- fontawesome -->
    <link rel="stylesheet" href="{{url "/themes/default/css/font-awesome.min.css"}}">

    <!-- font-wso2 -->
    <link rel="stylesheet" href="{{url "/themes/default/css/font-wso2.css"}}">

    <!-- Token input -->
    <link rel="stylesheet" href="{{url "/themes/default/js/token.input/css/token-input-facebook.css"}}">
    <!-- Helper css injections -->

    <!-- Custom css -->
    <link href="{{url "/themes/default/css/custom.css"}}" rel="stylesheet">
    <link href="{{url "/themes/default/css/custom-theme.css"}}" rel="stylesheet">
    {{css}}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{url "/themes/default/js/html5shiv.min.js"}}"></script>
    <![endif]-->

</head>

<body>

<div class="wrapper">
    <div class="container-fluid">
        {{ include header}}
    </div>
    <div class="container-fluid ribbon-container">
        {{include ribbon}}
    </div>
    <div class="container-fluid wr-main-content">
        {{include listassets}}
    </div>
</div>

{{>footer}}
{{>es-modal}}

<!--  CSRF Protection -->
<script src='{{url ""}}/csrf.js' type="text/javascript"></script>

<script src="{{url "/themes/default/js/jquery-1.10.2.min.js"}}"></script>
<script src="{{url "/themes/default/js/libs/jquery.form.min.js"}}"></script>
<script src="{{url "/themes/default/js/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/default/js/async.min.js"}}"></script>
<script src="{{url "/themes/default/js/publisher.commons.js"}}"></script>
<script src="{{url "/themes/default/js/lc.processor.js"}}"></script>
<script src="{{url "/themes/default/js/sugyama.js"}}"></script>
<script src="{{url "/themes/default/js/raphael-min.js"}}"></script>
<script src="{{url "/themes/default/js/graph.js"}}"></script>
<script src="{{url "/themes/default/js/token.input/jquery.tokeninput.js"}}"></script>
<script src="{{url "/themes/default/js/handlebars.js"}}"></script>
<script src="{{url "/themes/default/js/notify.min.js"}}"></script>
<script src="{{url "/themes/default/js/messages.js"}}"></script>
<script src="{{url "/themes/default/js/validate.js"}}"></script>
<!-- Helper files js injector -->
{{js}}
{{code}}

<script src="{{url "/themes/default/js/caramel.handlebars.client.js"}}"></script>
<script src="{{url "/themes/default/js/caramel-client.js"}}"></script>

<script type="text/javascript">
var affixOffset = 50;
$( document ).ready(function() {
    $("[data-toggle=popover]").popover();
    if($(document).height() - $(window).height() > affixOffset){
        $(document).scroll(function(){
            if($(document).scrollTop() >= ( affixOffset + 20)){
                $('.ribbon-container').addClass("affix");
            } else{
                $('.ribbon-container').removeClass("affix");
            }
        });
    }
});
</script>
</body>
</html>
