{{#if thumbnail}}
    <div class="ast-img setbgcolor">
       <span class="ast-type-icon">
           <i class="fw fw-resource fw-lg"></i>
       </span>

        <div class="ast-name-img">
            <img alt="thumbnail" class="square-element" src='{{url ""}}/storage/{{type}}/{{id}}/{{this.thumbnail}}'>
        </div>
    </div>
{{else}}
    {{> asset-default-thumbnail ..}}
{{/if}}
