<div class="copy" id="newVersionModal" >
    <div class="modal-dialog modal-sm">

          <h4 class="modal-title">{{t "Create new version"}}</h4>

          {{t "Version"}}: <input type="text" class="form-control" name="new-version" id="new-version">
          <input type="hidden" id="asset-id" value="{{assets.id}}">
          <input type="hidden" id="asset-type" value="{{assets.type}}">
          <div class="alert alert-success hide" role="alert"></div>
          <i class="fa fa-spinner fa-spin fa-3x hide" id="new-version-loading"></i>
          <br/>
          <button type="button" id="btn-create-version" class="btn btn-primary" >{{t "Create"}}</button>
    </div>
</div>