<a data-toggle="collapse" href="#collapse{{label}}" aria-expanded="false" class="collapsing-h2" >
    <h2>
         <i class="cu-btn-exp-col btn-collapsed">{{label}}</i>
    </h2>
</a>
<div class="collapse in" id="collapse{{label}}">
    {{#eachField this.fields}}
            <div class="row padding-bottom-lg">
                <div class="col-lg-2 text-right">{{label}}</div>
                <div class="col-lg-10">{{value}}</div>
            </div>
    {{/eachField}}
</div>