{{#with assets}}
    <div class="well asset-well">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1">
                    <div class="ast-img setbgcolor" style="background: {{this.uniqueColor}}">
                        <span class="ast-type-icon">
                            <i class="{{icon}} fw-lg"></i>
                        </span>
                        <div class="ast-name-icon">{{this.nameToChar}}</div>
                    </div>
                </div>
                <div class="col-lg-10 padding-left-double">
                    <h4>{{name}}</h4>
                    {{#if version}}
                        <p>Version : {{version}}</p>
                    {{/if}}
                    {{#if lifecycleState}}
                        <p>{{lifecycle}} : {{lifecycleState}}</p>
                    {{/if}}
                    {{#if createdDate}}
                        <div class="well-description">{{createdDate}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{/with}}
<div class="delete" id="deleteModal">
    <div class="form-inline">
        <div class="message message-danger" style="display: none">
            <h4><i class="icon fw fw-error"></i>Asset deletion</h4>
            <p id="delete-msg">{{t "Do you want to delete "}}
                <b>{{assets.name}}</b>{{t " "}}{{rxt.singularLabel}}{{t "?"}}</p>
        </div>
        <input type="hidden" id="asset-id" value="{{assets.id}}">
        <input type="hidden" id="asset-name" value="{{assets.name}}">
        <input type="hidden" id="asset-type" value="{{assets.type}}">
        <input type="hidden" id="landing-page" value="{{meta.landingPage}}">
        <i class="fa fa-spinner fa-spin fa-3x hide" id="delete-loading"></i>
        <br/>
        <button type="button" id="btn-delete-con" class="btn btn-danger">{{t "Delete"}}</button>
        <button type="button" id="btn-cancel-con" class="btn btn-default">{{t "Cancel"}}</button>
    </div>
</div>