{{#with assets}}
    <div class="well asset-well">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1">
                    <div class="ast-img setbgcolor" style="background: {{this.uniqueColor}}">
                        <span class="ast-type-icon">
                            <i class="fw fw-soap fw-lg"></i>
                        </span>
                        <div class="ast-name-icon">{{this.nameToChar}}</div>
                    </div>
                </div>
                <div class="col-lg-10 padding-left-double">
                    <h4>{{name}}</h4>
                    {{#if version}}
                        <p>Version : {{version}}</p>
                    {{/if}}
                    {{#if lifecycleState}}
                        <p>{{lifecycle}} : {{lifecycleState}}</p>
                    {{/if}}
                    <div class="well-description">{{tables.0.fields.createdtime.value}}</div>
                </div>
            </div>
        </div>
    </div>
{{/with}}
<div class="delete" id="deleteModal" >
    <div class="modal-dialog modal-sm">

        <h4 id="delete-msg" class="modal-title">{{t "Do you want to delete "}}{{assets.name}}{{t " "}}{{rxt.singularLabel}}{{t "?"}}</h4>
          <input type="hidden" id="asset-id" value="{{assets.id}}">
          <input type="hidden" id="asset-name" value="{{assets.name}}">
          <input type="hidden" id="asset-type" value="{{assets.type}}">
          <input type="hidden" id="landing-page" value="{{meta.landingPage}}">
          <i class="fa fa-spinner fa-spin fa-3x hide" id="delete-loading"></i>
          <br/>
          <button type="button" id="btn-delete-con" class="btn btn-primary" >{{t "Delete"}}</button>
          <button type="button" id="btn-cancel-con" class="btn btn-primary" >{{t "Cancel"}}</button>
    </div>
</div>