<div class="delete" id="deleteModal" >
    <div class="modal-dialog modal-sm">

          <h4 id="delete-msg" class="modal-title">{{t "Do you want to delete this asset?"}}</h4>
          <input type="hidden" id="asset-id" value="{{assets.id}}">
          <input type="hidden" id="asset-name" value="{{assets.name}}">
          <input type="hidden" id="asset-type" value="{{assets.type}}">
          <input type="hidden" id="landing-page" value="{{meta.landingPage}}">
          <div class="alert alert-success hide" role="alert"></div>
          <i class="fa fa-spinner fa-spin fa-3x hide" id="delete-loading"></i>
          <br/>
          <button type="button" id="btn-delete-con" class="btn btn-primary" >{{t "Delete"}}</button>
          <button type="button" id="btn-cancel-con" class="btn btn-primary" >{{t "Cancel"}}</button>
    </div>
</div>