<h2 class="field-title">
    <a class="collapsing-h2" aria-expanded="true" href="#collapse{{name}}">
        <i class="cu-btn-exp-col btn-collapsed">{{label}}</i>
    </a>
</h2>
{{#if optionText}}
    <div id="collapse{{name}}" class="responsive-form-container">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
        &nbsp;
        </div>
        <div style="border:0px solid #ff0000; padding:0" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="add-unbounded-row"><a class="js-add-unbounded-row" data-name="{{name}}"><i class="fa fa-plus-circle"></i> Add </a></div>
            <table class="tablex cu-data-table js-unbounded-table" id="table_{{name}}" {{#if requiredOneRow}}data-required-row="true"{{/if}}>
                <thead {{#unless withValues}}{{#unless requiredOneRow}}style="display: none;"{{/unless}}{{/unless}}>
                    {{#each subheading}}
                        <th>{{heading}}</th>
                    {{/each}}
                    <th></th>
                </thead>
                {{#if withValues}}
                <tbody>
                    {{renderEditableUnboundTable . "option-text"}}
                </tbody>
                {{else}}
                    {{#if requiredOneRow}}
                        <tbody>
                            {{renderEditableUnboundTableRow_optionText .}}
                        </tbody>
                    {{/if}}
                {{/if}}
            </table>
        </div>
    </div>
    <table style="display: none;" class="tmp_refernceTableForUnbounded">
        {{renderEditableUnboundTableRow_optionText .}}
    </table>
{{else}}
    <div class="responsive-form-container" id="collapse{{name}}">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
            &nbsp;
        </div>
        <div style="border:0px solid #ff0000; padding:0" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="add-unbounded-row"><a class="js-add-unbounded-row" data-name="{{name}}"><i class="fa fa-plus-circle"></i> Add </a></div>
            <table class='tablex cu-data-table js-unbounded-table' id="table_{{name}}" {{#if requiredOneRow}}data-required-row="true"{{/if}}>
                <thead {{#unless withValues}}{{#unless requiredOneRow}}style="display: none;"{{/unless}}{{/unless}}>
                {{#each subheading}}
                    <th>{{heading}}</th>
                {{/each}}
                <th></th>
                </thead>
                {{#if withValues}}
                <tbody>
                    {{renderEditableUnboundTable . "unbounded-table"}}
                </tbody>
                {{else}}
                    {{#if requiredOneRow}}
                        <tbody>
                            {{renderEditableUnboundTableRow .}}
                        </tbody>
                    {{/if}}
                {{/if}}
            </table>
        </div>
    </div>
    <table style="display: none;" class="tmp_refernceTableForOptionText">
        {{renderEditableUnboundTableRow . true}}
    </table>
{{/if}}