<!-- header -->
<header>
    <div class="row wr-global-header">
        <div class="col-xs-6 col-sm-8 app-logo">
            <a href='{{url ""}}{{meta.landingPage}}'>
                <img src="{{url "/themes/default/img/logo.png"}}" />
                {{> product-title}}
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 wr-auth-container">
        		<div class="wr-auth pull-right">
        			<a href="#" data-toggle="dropdown" class="">
                        <div class="auth-img">
                            <i class="fw fw-user"></i>
                            <span class="es-user-name">{{cuser.username}}</span>
                            <span class="caret"></span>
                        </div>
        			</a>
        			<div class="dropdown-menu">
        				<div class="cu-arrow"></div>
        				<div class="dropdown-menu-content">
        					<a class="filter-item" onclick="window.location.href='{{url "/logout"}}'" href="#">{{t "Sign out"}}</a>
        				</div>
        			</div>
        		</div>
			<div class="wr-auth pull-right">
				<a class="auth-img" href="{{storeUrl}}" target="_blank">
                    <i class="fw fw-uri"></i>
                    <span>Go to Store</span>
                </a>
			</div>
        </div>
    </div>
</header>
<!-- /header -->
