<h2 class="field-title">
    <a data-toggle="collapse" href="#collapse{{name}}" aria-expanded="true" class="collapsing-h2 {{#if renderingMetaData.emptyTable}} collapsed {{/if}}" >
            <i class="cu-btn-exp-col btn-collapsed">{{label}}</i>
    </a>
</h2>
{{#if renderingMetaData.emptyTable}}
    <div class="{{#if renderingMetaData.emptyTable}} collapse {{else}} collapse in {{/if}}" id="collapse{{name}}">
        <div id="no-table-data">
            <b>No {{label}} data available</b>
        </div>
    </div>
{{else}}
    <div class="{{#if renderingMetaData.emptyTable}} collapse {{else}} collapse in {{/if}}" id="collapse{{name}}">
        <table class='table table-bordered'>
            <thead class="decorated-table-heading">
            {{#each subheading}}
                <th>{{heading}}</th>
            {{/each}}
            </thead>
            <tbody>
            {{renderHeadingTablePreview .}}
            </tbody>
        </table>
    </div>
{{/if}}