{{#each history}}
{{#if targetState}}

    <div class="history-entry">
        <span class="margin-right-double">{{dateOfTransition}}</span>
        <span> {{user}} moved asset from <span class="text-primary">{{state}}</span> to <span class="text-success">{{targetState}}</span> </span>
        <br> <span class="comment-title"> {{#if hasComment}} comment:</span>
        <span> {{comment}} {{/if}}</span>
    </div>

{{/if}}
{{/each}}