{{#each history}}
{{#if targetState}}
<div class="history-entry"><span class="margin-right-double">{{dateOfTransition}}</span>
<span> {{user}} moved asset from {{state}} to {{targetState}} </span>
 <br> <span class="comment-title"> {{#if hasComment}} comment:</span>

<span> {{comment}} {{/if}}</span></div>
{{/if}}
{{/each}}