{{#each history}}
	{{#if targetState}}
        <div class="history-entry">{{time}} 04-05-2015       {{user}} moved asset from {{state}} to  {{targetState}}  {{#if hasComment}} with  user comment: {{comment}} {{/if}}</div>
	{{/if}}
{{/each}}
