<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar">
    <div class="col-lg-12 wr-action-container">

        <div class="wr-asset-type-switcher">
            <a data-trigger="focus" data-placement="bottom" class="ctrl-asset-type-switcher" href="#" data-original-title="" title="">
                <!--a href="#" class="ctrl-asset-type-switcher" data-placement="bottom" data-trigger="focus"-->
                <span class="btn-asset"></span></a>
        </div>

        <div class="wr-action-btn-bar">
            <a class="cu-btn" href='{{url ""}}{{currentUrl}}'>{{rxt.pluralLabel}}</a>
            {{#each leftNav}}
                <a href='{{url ""}}{{this.url}}' class="cu-btn {{this.iconClassOut}}">
                    <span class="fa-stack fa-lg">
                      <i class="fa {{this.iconClassIn}} fa-stack-1x"></i>
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                    </span>
                    {{this.name}}
                </a>
            {{/each}}


        </div>
    </div>


</div>




<div id="content-asset-types" style="display: none">
    <div>
        {{#each breadcrumb}}
            <a class="ast-type-item" target="_self" href='{{url ""}}{{this.url}}'><i class="{{this.assetIcon}}"></i>{{this.assetTitle}}</a>
        {{/each}}
    </div>
</div>

<div id="modal-redirect" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-body">
        <div class="modal-loading"></div>
        <p>
            Redirecting you to the new Asset Version...
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">
            Redirect now
        </button>
    </div>
</div>

