{{#with ribbon}}

<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar">
    <div class="col-md-9 wr-action-container">

        <div class="wr-asset-type-switcher">
            <a data-trigger="focus" data-placement="bottom" class="ctrl-asset-type-switcher" href="#" data-original-title="" title="">
                <!--a href="#" class="ctrl-asset-type-switcher" data-placement="bottom" data-trigger="focus"-->
                <span class="btn-asset"></span></a>
        </div>

        <div class="wr-action-btn-bar">
            <a class="cu-btn btn-add-new" href='{{url ""}}{{currentUrl}}'>{{currentTitle}}</a>
            <a href="#" class="cu-btn btn-add-new">Add Gadget</a>
            <a href="#" class="cu-btn btn-add-new">Manage Lifecycle</a>
            <a href="#" class="cu-btn btn-add-new">Delete</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="wr-secondary-links pull-right">
            <a href="#" class="cu-ico-right-button cu-ico-button-stats">Statistics</a>
        </div>
    </div>
</div>



<div id="content-asset-types" style="display: none">
    <div>
        {{#each breadcrumb}}
            <a class="ast-type-item" target="_self" href='{{url ""}}{{this.url}}'><i class="{{this.assetIcon}}"></i>{{this.assetTitle}}</a>
        {{/each}}
    </div>
</div>

<div id="modal-redirect" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-body">
        <div class="modal-loading"></div>
        <p>
            Redirecting you to the new Asset Version...
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">
            Redirect now
        </button>
    </div>
</div>
{{rxt.pluralLabel}}
{{#each leftNav}}
<div class="{{this.additionalClasses}}">
    <a href='{{url ""}}{{this.url}}'>
        {{#if this.iconClass}}
            <i class="{{this.iconClass}}"></i>
        {{/if}}
        {{this.name}}
    </a>
</div>
{{/each}}


{{/with}}
