<h2 class="field-title">
    <a class="collapsing-h2" aria-expanded="true" href="#{{name}}" data-toggle="collapse">
        <i class="cu-btn-exp-col btn-collapsed">{{label}}</i>
    </a>
</h2>
<div id="{{name}}" class="responsive-form-container collapse in" aria-expanded="true" style="">
    {{#if subheading}}
    <table class='table table-bordered'>
        <thead class="decorated-table-heading">
            {{#each subheading}}
                <th>{{heading}}</th>
            {{/each}}
        </thead>
        <tbody>
        {{renderUnboundTablePreview .}}
        </tbody>
    </table>
    {{/if}}

</div>