<form class="form-horizontal" id='form-asset-update' method='post' action='{{url ""}}/apis/assets/{{assets.id}}?type={{rxt.shortName}}' data-redirect-url='{{url ""}}/assets/{{rxt.shortName}}/details/' >
    <div class="control-group">
             {{#each assets.tables}}
                    {{renderTable . id=../assets.id mode="edit"}}
            {{/each}}
    </div>
    {{#if groupingFeature.isEnabled}}

    <div class="control-group">
        <h2 class="field-title">
            <a class="collapsing-h2" aria-expanded="true" href="#collapseversioning" data-toggle="collapse">
                    <i class="cu-btn-exp-col btn-collapsed">Versioning</i>
            </a>
        </h2>
        <div id="collapseversioning" class="responsive-form-container collapse in" aria-expanded="true" style="">
             <div class="form-group">
                <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">{{t "Make this the default"}}</label>
                <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                    <input type='checkbox' name="_default" />
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <div id='tag-ui-container'>
        <h2 class="field-title">
            <a href="#collapseTags" aria-expanded="false" class="collapsing-h2">
                <i class="cu-btn-exp-col btn-collapsed">{{t "Tags"}}</i>
            </a>
        </h2>
        <div class="responsive-form-container" id="collapseTags">
            {{> tag-ui-container .}}
        </div>
    </div>
    {{#if taxonomyAvailability}}
        <div id='taxonomy'>
            <h2 class="field-title">
                <a href="#collapseTaxa" aria-expanded="false" class="collapsing-h2">
                    <i class="cu-btn-exp-col btn-collapsed">{{t "Taxonomy"}}</i>
                </a>
            </h2>
            <div class="responsive-form-container" id="collapseTaxa">
                {{> taxonomy-browser .}}
            </div>
        </div>
    {{/if}}
    <div class="clearfix"></div>
    <div id="updateButtons" class="form-actions">
        <input type="hidden" id="asset-id" value="{{assets.id}}">
        <input type="hidden" id="asset-type" value="{{assets.type}}">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="submit" value="Update" class="btn btn-primary" name="editAssetButton" id="editAssetButton">
                <input type="reset" value="Reset" class="btn btn-secondary">
                <button type="button" id="btn-cancel-update" class="btn btn-secondary">{{t "Cancel"}}</button>
                <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}" id="meta-asset-type">
            </div>
        </div>
    </div>
</form>