 <form class="form-horizontal" id='form-asset-update' method='post' action='{{url ""}}/apis/assets/{{assets.id}}?type={{rxt.shortName}}' >
    <div class="control-group">
             {{#each assets.tables}}
                    {{renderTable . mode="edit"}}
            {{/each}}
    </div>
    {{#if groupingFeature.isEnabled}}
    <div class="control-group">
        <h3>Versioning</h3>
        <div class="checkbox">
            <label>
                <input type='checkbox' name="_default"> {{t "Make this the default"}}                
            </label>
        </div>
    </div>
    {{/if}}
     <div class="form-group" id="updateButtons">
         <div class="col-sm-offset-2 col-sm-10">
             <input type="submit" value="Update" class="btn btn-primary" name="editAssetButton" id="editAssetButton">
             <input type="reset" value="Reset" class="btn btn-default">
             <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}" id="meta-asset-type">
         </div>
     </div>


    <div id="saveButtons" class="form-actions">
    </div>   
</form>