{{#with assets}}
<div class="well asset-well">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
                {{>asset-thumbnail .}}
            </div>
            <div class="col-lg-10 padding-left-double">
                <h1 class="asset-name">{{name}}</h1>
                {{#if version}}
                    <h5>{{version}}</h5>
                {{/if}}
                {{#if lifecycleState}}
                    <h5>{{lifecycle}} : {{lifecycleState}}</h5>
                {{/if}}
                <div class="well-description padding-bottom-lg">{{tables.0.fields.createdtime.value}}</div>
            </div>
        </div>
    </div>
</div>
{{/with}}
{{> update_form .}}