{{#with assets}}
        <div class="well asset-well">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2">
                        <img src='{{url ""}}/storage/{{../rxt.shortName}}/{{id}}/{{thumbnail}}' class="" alt="Thumb"/>
                    </div>
                    <div class="col-lg-10">
                        <h1 class="asset-name">{{name}}</h1>
                        {{#if lifecycleState}} 
                        <i class="fa fa-circle"></i> {{lifecycleState}}
                        {{/if}}
                        <div class="well-description">{{tables.0.fields.createdtime.value}}</div>
                        <div class="well-description">{{tables.0.fields.description.value}}</div>
                        <div class="version-info-container padding-bottom-lg">
                            {{> asset-version-info ..}}
                        </div>
                    </div>
                </div>
            </div>

        </div>


        {{#each tables}}
            {{renderTablePreview .}}
        {{/each}}

        {{#if tags}}
            <a data-toggle="collapse" href="#collapseTags" class="collapsing-h2"><h2>Tags</h2></a>
            <div class="collapse" id="collapseTags">
            {{#each tags}}
                <span class="view-tag">{{this}}</span>
            {{/each}}
            </div>
        {{/if}}


{{/with}}
{{> sidebar-container . }}

<!-- Start of create new version modal -->
<div class="modal fade" id="newVersionModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{t "Create new version"}}</h4>
        </div>
        <div class="modal-body">
          {{t "Version"}}: <input type="text" class="form-control" name="new-version" id="new-version">
          <input type="hidden" id="asset-id" value="{{assets.id}}">
          <input type="hidden" id="asset-type" value="{{assets.type}}">
          <div class="alert alert-success hide" role="alert"></div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-create-version" class="btn btn-primary" >{{t "Create"}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">{{t "Reset"}}</button>
        </div>
      </div>
    </div>
</div>
<!-- End of Create new version modal -->


