{{#with assets}}
<div class="well asset-well">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 thumbnail-width-fixer">
                {{>asset-thumbnail .}}
            </div>
            <div class="col-lg-10 col-md-10">
                <h1 class="asset-name">{{name}}</h1>
                {{#if version}}
                    <h5 class="ast-ver ast-details">Version : {{version}}</h5>
                {{/if}}
                {{#if lifecycleState}}
                    <h5 class="ast-lc ast-details">{{lifecycle}} : {{lifecycleState}}</h5>
                {{/if}}
                {{#if createdDate}}
                <div class="well-description padding-bottom-lg">{{createdDate}}</div>
                {{/if}}
                <div id='tag-ui-container-view'>
                    {{> tag-ui-container-view ..}}
                </div>
                <div class="version-info-container padding-bottom-lg">
                    {{> asset-version-info ..}}
                </div>
            </div>
        </div>
    </div>
</div>


        {{#each tables}}
            {{renderTablePreview .}}
        {{/each}}

        {{#if tags}}
            <a data-toggle="collapse" href="#collapseTags" class="collapsing-h2"><h2>Tags</h2></a>
            <div class="collapse" id="collapseTags">
            {{#each tags}}
                <span class="view-tag">{{this}}</span>
            {{/each}}
            </div>
        {{/if}}


{{/with}}
{{> sidebar-container . }}
