<div class="row com-review" data-target-id="{{object.id}}">
    <!--
    <div class="com-left">
           <img class="img-avatar" src="{{url "/themes/default/img/avatar.png"}}">
       </div>-->

    <div class="com-right">
        <div class="clear">
            {{#if isMyComment}}
                <div class="change-review">
                    <i id="btn-delete" class="fw fw-delete fw-sm fw-helper fw-helper-outline"></i>
                    <i id="btn-edit" class="fw fw-edit fw-sm fw-helper fw-helper-outline"></i>
                </div>
            {{/if}}
            <strong class="com-author">{{actor.id}}</strong>
            <div class="com-rating" data-rating="{{object.rating}}">
                <div class="com-rating-{{object.rating}}star"></div>
            </div>
            <p class="com-content">
                {{object.content}}
            </p>
        </div>
        <div class="row">
            <div class="com-thumbs">
                <ul>
                    <li title={{t "Like"}}>
                        {{#unless isMyComment}}
                            <a class="thumbs-up-button {{#unless ../isUserLoggedIn}}disabled{{/unless}}" href="#">
                                <i class="icon icon-thumbs-up {{#if iLike}}selected{{/if}}"></i><span
                                    class="com-like-count">{{#if object.likes.totalItems}} {{object.likes.totalItems}} {{/if}}</span></a>
                        {{else}}
                            <i class="icon icon-thumbs-up {{#if iLike}}selected{{/if}}"></i><span
                        >{{#if object.likes.totalItems}} {{object.likes.totalItems}} {{/if}}</span>
                        {{/unless}}
                    </li>
                    <li title={{t "Dislike"}}>
                        {{#unless isMyComment}}
                            <a class="thumbs-down-button {{#unless ../isUserLoggedIn}}disabled{{/unless}}" href="#"><i class="icon icon-thumbs-down {{#if iDislike}}selected{{/if}}"></i><span
                                    class="com-dislike-count">{{#if object.dislikes.totalItems}} {{object.dislikes.totalItems}} {{/if}}</span></a>
                        {{else}}
                            <i class="icon icon-thumbs-down {{#if iDislike}}selected{{/if}}"></i><span
                        >{{#if object.dislikes.totalItems}} {{object.dislikes.totalItems}} {{/if}}</span>
                        {{/unless}}
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>