<div class="row com-add">
    <div class="loading-bg">
    </div>
    <div class="loading-animation">
        <i class="fw fw-loader5 fw-spin fw-3x custom-loader"></i></div>
    <!--
	<div class="com-left">
		<img class="img-avatar" src="{{url "/themes/default/img/avatar.png"}}">
	</div>-->
    <span class="my-review-topic">MY REVIEW</span>
    <div class="com-body-cont my-review">

        {{#if myReview }}
            {{> activity myReview }}
        {{else}}

            <form method="post" id="com-form-post"/>
            <div class="clear com-body-wrapper">
                {{#if editable}}
                    <textarea id="com-body">{{editable.review}}</textarea>
                {{ else }}
                    <textarea
                            id="com-body"
                            placeholder="Tell others what you think about this {{ type }}."></textarea>
                {{/if}}
            </div>
            <div class="row">
                <div class="com-rating-user">
				<span class="user-rating" data-rating="2">
                    {{#each ratings}}
                        <i class="fw fw-star fw-2x rating-star {{#if_equal this ../editable.rating}}selected-rating{{/if_equal}}"
                           data-rating="{{ this }}"></i>
                    {{/each}}
                    <div class="com-alert"></div>
				</span>
                </div>
                <div class="txt-right com-post-as">
                    <button id="btn-post" class="disabled">
                        Submit
                    </button>
                </div>
            </div>
            </form>

        {{/if}}

    </div>
</div>
