<script>var target = '{{id}}'; var user = '{{user}}';</script>
{{#unless isLogged}}
<div class="com-guest">
    <div class="message message-info">
        <h4><i class="fw fw-info"></i> {{message}}</h4>
    </div>
</div>
{{/unless}}
{{#if isLogged}}
    {{#unless isAuthorized}}
    <div class="com-guest">
        {{message}}
    </div>
    {{/unless}}
{{/if}}

<div class="row com-stream">
	<div class="row com-sort {{#unless reviews}}com-sort-hidden{{/unless}}">
		<ul>
			<li>
				<a href="#" id="newest">Newest</a>
			</li>
			<li>
				<a href="#" id="oldest">Oldest</a>
			</li>
			<li>
				<a href="#" class="selected" id="popular">Popular</a>
			</li>
		</ul>
	</div>

	<div id="stream">
		{{#if reviews}}
			{{#each reviews}}
				{{> activity}}
			{{/each}}
		{{else}}
            {{#if isLogged}}
                {{#if myReview}}
                    <div class="com-first-review message message-success">
                        <h4><i class="fw fw-success"></i>You are the first to review this {{t type}}</h4>
                    </div>
                {{else}}
                    <div class="com-first-review message message-info">
                        <h4><i class="fw fw-info"></i>Be the first one to review!</h4>
                        <p>Tell others what you think about this {{t type}}</p>
                    </div>
                {{/if}}
            {{/if}}
		{{/if}}
	</div>
	{{#if more}}
		<div id="more">
			<p class="load-more" value="{{offset}}">
			<a href="#" >More</a>
			</p>
		</div>
	{{/if}}
	<div id="empty_list"></div>
</div>
