{{#if thumbnail}}
    <div class="ast-thumbnail">
    <span class="ast-type-icon">
      <i class="{{icon}} fw-lg fw-bg"></i>
    </span>
    <img alt="thumbnail" class="ast-img" src="{{tenantedUrl ""}}/storage/{{type}}/{{id}}/{{thumbnail}}">
</div>
{{else}}
    {{> asset-default-thumbnail ..}}
{{/if}}
