<!--
  ~ Copyright (c) 2014, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div class="assets-container">
    <!-- <h3 class="asset-type-default asset-title-separator asset-type-{{rxt.shortName}}">
        <div class="pagination top-asset-slideshow-pag assetSliderPag" id="top-asset-slideshow-pag-{{rxt.shortName}}"></div>
    </h3> -->
    <section>
        {{#if assets}}
            {{> loading ../../../.}}
            {{>assets-thumbnails .}}
        {{else}}
            {{#if cuser.isAnon}}
                <div class="top-assets-empty-assert">{{t "There are no publicly available assets. Please login to access your assets"}}</div>
            {{else}}
                <div class="top-assets-empty-assert">{{t "There are no assets available."}}</div>
            {{/if}}
        {{/if}}
    </section>
</div>


