    <div class="title"><a class="asset-type-site">My bookmarks</a></div>
    <div class="clear-both"></div>

    {{#if hasAssets}}
        {{#itr assets}}
            <div class="ast-container">
                <div class="container-fluid ">
                    <p class="lead"><a class="asset-type-{{rxt.shortName}}" href="{{url "/assets"}}/{{key}}/list">{{value.meta.pluralLabel}}</a></p>
                </div>
            </div>
            {{#each value.assets}}
                {{#attributes}}
                    <div class="ctrl-wr-asset margin-top-lg">
                        <div class="confirmation-popup-container">
                            <i id="bookmark-animation" class="fw fw-wso2-logo fw-pulse fw-5x"></i>
                            <p>Are you sure you want to remove bookmark?</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default yes-bookmark">Yes</button>
                                <button type="button" class="btn btn-default no-bookmark">No
                                </button>
                            </div>
                        </div>
                        <div class="itm-ast">
                            <a class="ast-img " href="{{tenantedUrl "/assets"}}/{{../type}}/details/{{../id}}">
                                {{> asset-thumbnail ..}}
                            </a>
                            <div class="ast-content">
                                <div class="ast-title padding">
                                    <a class="ast-name truncate" href="{{tenantedUrl "/assets"}}/{{../type}}/details/{{../id}}" title="{{../name}}">{{../name}}</a>
                                    <span class="ast-auth" title="{{overview_provider}}">{{overview_provider}}</span>
                                </div>
                                <div class="pull-left asset-rating-container">
                                    <span class="asset-rating">
                                        <div style="width:{{../ratingPx}}px"></div>
                                    </span>
                                </div>
                                {{#mergeContext thisAsset=../this isSubscribed=true}}
                                    <span class="my-items-bookmark pull-right">
                                        {{> assets-utilization}}
                                    </span>
                                {{/mergeContext}}
                                <div class="clearfix padding-bottom-sm"></div>
                            </div>
                        </div>
                    </div>
                {{/attributes}}
            {{/each}}
        {{/itr}}
    {{else}}
        <div id="no-data-my-items" class="top-assets-empty-assert">{{t "Your bookmarked asset list is empty."}}</div>
    {{/if}}