<!--
~  Copyright (c) 2005-2014, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
~
~  WSO2 Inc. licenses this file to you under the Apache License,
~  Version 2.0 (the "License"); you may not use this file except
~  in compliance with the License.
~  You may obtain a copy of the License at
~
~  http://www.apache.org/licenses/LICENSE-2.0
~
~  Unless required by applicable law or agreed to in writing,
~  software distributed under the License is distributed on an
~  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~  KIND, either express or implied.  See the License for the
~  specific language governing permissions and limitations
~  under the License.
-->

{{#with searchBar}}
    <input id="search" class="search-area" placeholder="Search by Asset Name..." type="text" >
    {{#if searchFields}}
    <button id="advanced-search-btn" data-placement="bottom" class="btn btn-default float-left advanced-search-btn" data-original-title="" title=""></button>
    <div id="advanced-search"  class="search-advance-container padding">
        <div class="search-title">Search {{../../rxt.pluralLabel}}</div>
        <div class="row">
            {{#each searchFields}}
                <div class="search-data-field col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="black uppercase padding-top">{{name.label}}</label>
                    {{renderSearchField .}}
                </div>
            {{/each}}
        </div>
        <div>
        <button id="search-button2" class="btn btn-primary">
            <i class="fa fa-search"></i>&nbsp;Search
        </button>
        </div>
    </div>
    {{/if}}
    <!-- Search Filter -->

    <div class="wr-filter-category">
        {{#if assetMeta.categories}}
        <a aria-expanded="true" data-toggle="dropdown" placement="bottom" class="ico-filter ctrl-filter-category dropdown-toggle" href="#" id="category-dropdown">
            <span class="ro-text">
                    {{#if selectedCategory}}
                        {{selectedCategory}}
                    {{else}}
                        All Categories
                    {{/if}}
            </span>
        </a>
        <div id="category-dropdown-content" style="display: none">
            <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu-category">
                    <li><a href="{{tenantedUrl "/assets"}}/{{rxt.shortName}}/list">All Categories</a></li>
                    {{#each assetMeta.categories}}
                        <li><a href='{{tenantedUrl "/assets"}}/{{../rxt.shortName}}/list?q="overview_category":"{{this}}"'>{{this}}</a></li>
                    {{/each}}
            </ul>
        </div>
        {{/if}}
        <button class="back-button uppercase float-left" id="search-button" >
            <i class="fa fa-search"></i>
        </button>

    </div><!--wr-filter-category-->
{{/with}}