<div class="ast-container " id="ast-container">
    <div class="container-fluid ">
        <div class="title"><a class="asset-type-{{rxt.shortName}}" href="{{tenantedUrl "/asts/"}}{{rxt.shortName}}/list?">Recent {{rxt.pluralLabel}}</a></div><!--title-->
    <div class="float-right">

        <ul id="ul-sort-assets" data-type="gadget" class="pull-right">
            <li>
                <a href="{{tenantedUrl ""}}/asts/{{rxt.shortName}}/list?sort=popular"
                data-toggle="tooltip" data-sort="popular" title="{{t "Sort by Popularity"}}"><i class="icon-star"></i></a>
            </li>
            <li>
                <a href="{{tenantedUrl ""}}/asts/{{rxt.shortName}}/list?sortBy=overview_name&sort=ASC" data-toggle="tooltip" data-sort="az" title="{{t "Sort by Alphabetical Order"}}"><i class="icon-sort-alphabetical"></i></a>
            </li>
            <li>
                <a href="{{tenantedUrl ""}}/asts/{{rxt.shortName}}/list?sortBy=overview_createdtime&sort=DESC" data-toggle="tooltip" data-sort="recent" title="{{t "Sort by Created Date"}}"><i class="icon-calendar"></i></a>
            </li>
        </ul>
    </div>
    <hr>
</div>
</div>