{{#if isSubscribed}}
    <a class="btn disabled"
       data-toggle="modal"
       data-aid="{{id}}" data-type="{{type}}"> {{>processed-asset-text}}</a>
{{else}}
    <a class="btn js_bookmark"
       data-aid="{{id}}" data-type="{{type}}"> {{>process-asset-text }}</a>
{{/if}}