<!-- Popular assets listing till we figure out a way to display it elegentely
{{#if popularAssets}}
<section>
    <div class="container-fluid row padding-double center">
        {{#each popularAssets}}
            {{#attributes}}
                <div class="freatured-assets-col col-xs-12 col-sm-6 col-md-3  "><a href="{{tenantedUrl "/assets"}}/{{../type}}/details/{{../id}}">
                    <img class="img-responsive" src="{{#if ../banner}}{{tenantedUrl ""}}/storage/{{../../type}}/{{../../id}}/{{../../banner}}{{/if}}"></a> </div>
            {{/attributes}}
        {{/each}}
    </div>
</section>
{{/if}}
--->
{{#if recentAssetsByType}}
    {{#each recentAssetsByType}}
        <div class="ast-container " id="ast-container">
            <div class="container-fluid ">
        <div class="title">
            <a class="asset-type-{{rxt.shortName}}" href="{{tenantedUrl "/assets/"}}{{rxt.shortName}}/list?">
                {{#unless ../assetMeta.q}}Recent{{/unless}}
                {{rxt.pluralLabel}}
            </a>
        </div><!--title-->
                <div class="float-right"><a href="{{tenantedUrl "/assets/"}}{{rxt.shortName}}/list" class="more">
                    <span class="fw-stack fw-lg  fw-inverse">
                        <i class="fw fw-circle fw-stack-1-5x grey"></i>
                        <i class="fw fw-dots fw-stack-1x white"></i>
                    </span>
                    <span class="asset-more-in-listing">See More</span></a></div>
                <hr>
            </div>
        </div>
        {{#dyn asset=rxt.shortName}}
                {{>assets}}
        {{/dyn}}
    {{/each}}
{{else}}
    <div class="top-assets-empty-assert">{{t "We couldn't find anything for you."}}</div>
{{/if}}
